<div class=row>
  <div class="col-md-6">
    <div class="input-group input-group-lg">
      <span class="input-group-addon" id="basic-addon1">&#9733;</span>
      <input type="text" ng-model="queryNumber" class="form-control" placeholder="Filter by number of stars (1 to 5)" aria-describedby="">
    </div>
  </div>
  <div class="col-md-6">
    <div class="input-group input-group-lg">
      <span class="input-group-addon" id="basic-addon1">&#10080;</span>
      <input type="text" class="form-control" ng-model="queryContent" placeholder="Filter by content" aria-describedby="">
    </div>
  </div>        
</div>